<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TCU_AsociacionSanGabriel</title>

    <link href="../../Assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="../../Assets/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="../../Assets/css/customStyles/listaBeneficiariosStyle.css" rel="stylesheet">
    <link href="../../Assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light px-4">
        <a class="navbar-brand" href="../Home/home.html">
            <img src="../../Assets/img/logo.png" alt="SANGABRIEL Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">

                <li class="nav-item"><a class="nav-link" href="#">Beneficiarios</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Grupos</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Programas</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Usuarios</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Recomendaciones</a></li>
                <li class="nav-item"><a class="nav-link" href="#">FAQ</a></li>

            </ul>
        </div>
    </nav>

    <main>
        <div class="card p-4 shadow-lg mb-5">
            <img src="../../Assets/img/logo.png" alt="SANGABRIEL Logo" class="logo">
            <h2 class="fw-bold text-center mb-3">Lista de Beneficiarios</h2>
            
            <div class="mb-3 text-end">
                <a href="#" class="btn btn-success">+ Agregar Beneficiario</a>
            </div>
            
            <div class="table-responsive">
                <table id="tablaBeneficiarios" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Identificación</th>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Fecha Nacimiento</th>
                            <th>Edad</th>
                            <th>Género</th>
                            <th>Alergias</th>
                            <th>Medicamentos</th>
                            <th>Fecha Ingreso</th>
                            <th>Encargado</th>
                            <th>Contacto</th>
                            <th>Pago</th>
                            <th>Programa</th>
                            <th>Grupo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>403020337</td>
                            <th>Génesis</th>
                            <th>Araya Araya</th>
                            <th>2013-05-18</th>
                            <th>12</th>
                            <th>Femenino</th>
                            <th>No</th>
                            <th>No</th>
                            <th>2022-01-04</th>
                            <th>Yuliana Araya Brenes</th>
                            <th>61319057</th>
                            <th>$</th>
                            <th>PANI</th>
                            <th>Leones</th>
                            <td>
                                <div class="d-flex gap-2 justify-content-center">
                                    <a href="#" class="btn btn-primary btn-sm">Editar</a>
                                    <a href="#" class="btn btn-danger btn-sm"
                                    onclick="return confirm('¿Seguro que deseas eliminar este usuario?')">Eliminar</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="15" class="text-center">No hay usuarios registrados</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <footer>
        <p><strong>Modalidad:</strong> - </p>
        <p><strong>Provincia:</strong> Heredia </p>
        <p><strong>Cantón:</strong> Santa Bárbara </p>
        <p><strong>Distrito:</strong> Jesús </p>
        <p><strong>Dirección:</strong> - </p>
        <p><strong>Teléfono:</strong> - </p>
        <p><strong>Correo:</strong> - </p>
        <span>Copyright &copy; Asociación San Gabriel Formación y Cuido de Niños 2025</span>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../Assets/vendor/jquery/jquery.min.js"></script>
    <script src="../../Assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="../../Assets/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="../../Assets/js/sb-admin-2.min.js"></script>
    <script src="../../Assets/vendor/chart.js/Chart.min.js"></script>
    <script src="../../Assets/js/demo/chart-area-demo.js"></script>
    <script src="../../Assets/js/demo/chart-pie-demo.js"></script>
    <script src="../../Assets/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="../../Assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#tablaBeneficiarios').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/2.1.8/i18n/es-ES.json', 
                },
                responsive: true,
                pageLength: 5
            });
        });
    </script>
    
</body>

</html>
